.root {
     //-fx-background-image: url("background.jpg");
}

.label {
    -fx-font-size: 12px;
    -fx-font-family: "Times New Roman";
    //-fx-font-weight: bold;
    -fx-text-fill: #000000;
    //-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#welcome-text {
   -fx-font-size: 22px;
   -fx-font-family: "Arial Black";
   -fx-fill: #61a2b1;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#meubotao:hover{
    -fx-background-color: linear-gradient(blue, blue);
    
}
.button {
    -fx-text-fill: black;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    //-fx-background-color: linear-gradient(#FFFAFA, #00FF00);
    -fx-cursor: hand;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#FFFAFA, #00FF00);
}

.textfield {
    -fx-background-color: #000000;
}

.textarea{
   -fx-font-size: 32px;
   -fx-font-family: "Times New Roman";
}
